<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css">
</head>

<div th:replace="fragments::myHeader"></div>
<a href="/dodaj"><p>Dodaj zwierzaka</p></a>

<ul th:replace="fragments::category"></ul>

<div th:each="pet:${pets}">
<!-- <a  th:href="@{|/zwierzak?imie=${pet.getName()}|}" > -->
<a  th:href="'zwierzak?imie=' + ${pet.getName()}" >
    <img  th:src="${pet.getImg()}">
    <p th:text="${pet.getName()}"></p>
</a>
</div>





</body>
</html>